<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>firstFilter</filter-name>
        <filter-class>com.imooc.filter.FirstFilter</filter-class>
    </filter>
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>com.imooc.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>p1</param-name>
            <param-value>v1</param-value>
        </init-param>
        <init-param>
            <param-name>p2</param-name>
            <param-value>v2</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>urlPatternFilter</filter-name>
        <filter-class>com.imooc.filter.UrlPatternFilter</filter-class>
    </filter>
    <filter>
        <filter-name>filterA</filter-name>
        <filter-class>com.imooc.filter.chain.FilterA</filter-class>
    </filter>
    <filter>
        <filter-name>filterB</filter-name>
        <filter-class>com.imooc.filter.chain.FilterB</filter-class>
    </filter>
    <filter>
        <filter-name>filterC</filter-name>
        <filter-class>com.imooc.filter.chain.FilterC</filter-class>
    </filter>

    <filter>
        <filter-name>deviceAdapterFilter</filter-name>
        <filter-class>com.imooc.filter.DeviceAdapterFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>firstFilter</filter-name>
        <!-- /* 对所有请求进行拦截 -->
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <!-- /* 对所有请求进行拦截 -->
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>urlPatternFilter</filter-name>
        <url-pattern>/v1/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>filterA</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterB</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterC</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>deviceAdapterFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.imooc.WebListener</listener-class>
    </listener>
</web-app>