.w {
  width : 1200px;
  margin: 0 auto;
}

body {
  background-color: #F3F5F7;
}

.header {
  display         : flex;
  height          : 100px;
  background-color: #fff;
  padding-top     : 29px;
}

.logo {
  margin-right: 100px;
}

.logo a {
  display         : block;
  width           : 195px;
  height          : 41px;
  background-image: url(./学成在线素材-图片/images/logo.png);
  font-size       : 0;
}

.header .nav {
  margin-right: 96px;
}

.header .nav ul {
  display: flex;
}

.header .nav ul li {
  margin-right: 20px;
}

.header .nav a {
  display       : block;
  padding       : 0 8px;
  font-size     : 19px;
  font-weight   : normal;
  line-height   : 27px;
  color         : #333333;
  padding-bottom: 2px;
}

.nav ul li a:hover {
  border-bottom: 3px solid #00a4ff;

}

.header input {
  width        : 411px;
  height       : 40px;
  border-radius: 20px;
  padding-left : 15px;
  border       : 0;
  margin-right : 32pxc;
  outline      : none;
}
.jump{
  position: relative;
  
}
.icon-search1{
  position: absolute;
  top: 8px;
  right: 38px;
}
.user img {
  vertical-align: middle;
}

/* 轮播图模块 */
.slideshow {
  height          : 420px;
  background-color: #0092CB;
}

.slideshow .w {
  display            : flex;
  justify-content    : space-between;
  height             : 420px;
  background         : url(./学成在线素材-图片/uploads/banner.png);
  /* background-color: #fff; */
}

.slideshow .left ul {
  width           : 191px;
  height          : 420px;
  background-color: #005576;
}

.slideshow .left li a {
  display        : flex;
  justify-content: space-between;
  height         : 46px;
  line-height    : 46px;
  padding        : 0 20px;
  color          : #fff;
  font-size      : 16px;
}

.slideshow .left li a i {
  font-style: normal;
}

.slideshow .left li a:hover {
  color: #00a4ff;
}

.slideshow .right {
  width           : 218px;
  height          : 305px;
  background-color: #209DD5;
  margin          : 60px 0 56px;
  border-radius   : 20px;
}

.slideshow .right h3 {
  height      : 48px;
  line-height : 48px;
  padding-left: 14px;
  font-size   : 15px;
  color       : #fff;
}

.slideshow .content {
  height          : 257px;
  padding         : 0 14px;
  background-color: #fff;
  padding         : 0 14px 0 14px;
  border-radius   : 20px;
}

.slideshow .content dl {
  border-bottom: 1px solid #e0e0e0;
  padding-top  : 10px;
}

.slideshow .content dt {
  margin: 0 0 8px 0;
}

.slideshow .content dd {
  font-family   : PingFangSC-Regular;
  font-size     : 12px;
  font-weight   : normal;
  letter-spacing: 0px;
  color         : #7d7d7d;
  margin-bottom : 9px;
}

.slideshow .content span {
  font-family: PingFangSC-Regular;
  font-size  : 12px;
  font-weight: normal;
  line-height: 16px;
  color      : #00a4ff;
}

.slideshow .content a {
  display         : block;
  width           : 190px;
  height          : 32px;
  line-height     : 32px;
  border-radius   : 18px;
  margin-top      : 14px;
  text-align      : center;
  background-color: #00a4ff;
  color           : #fff;
}

/* 轮播图模块结束 */
/* Boutique开始 */
.Boutique {
  position: sticky;
  top: 0;
  display         : flex;
  height          : 60px;
  background-color: #fff;
  padding         : 18px 20px;
  margin-top: 12px;
}

.Boutique h3 {
  font-size  : 18px;
  line-height: 25px;
  color      : #00a4ff;
}

/* .Boutique ul {
  display: flex;
} */

.Boutique ul li {
  display     : inline-block;
  padding     : 0 20px;
  border-right: solid 1px #e0e0e0;
}

.Boutique ul li a {
  font-size: 18px;
  color    : #333;
}

.Boutique ul li a:hover {
  color: #00a4ff;
}

.Boutique ul li:last-child {
  border      : 0;
  margin-right: 93px;
}

.Boutique .dog {
  display  : block;
  color    : #00a4ff;
  font-size: 16px;
}

/* Boutique结束 */


/* 课程模块开始 */
.hd {
  display        : flex;
  justify-content: space-between;
  height         : 30px;
  line-height    : 30px;
  margin         : 30px 0 15px;
}

.hd h3 {
  font-family: PingFangSC-Regular;
  font-size  : 21px;
  font-weight: normal;
  line-height: 32px;
  color      : #333333;
}

.hd .car {
  height     : 20px;
  font-family: PingFangSC-Regular;
  font-style : normal;
  line-height: 35px;
}

.hd .car a {
  font-size: 14px;
  color    : #999999;
}

.bd {
  /* width: 1200px; */
  display        : flex;
  justify-content: space-between;
}

.bd h3 {
  margin     : 20px 20px 0;
  height     : 50px;
  font-size  : 14px;
  font-weight: 400;
  color      : #333333;
}

/* font-size  : 14px;
font-weight: 400;
height     : 55px;
margin     : 20px 20px 0 */
.bd ul {
  width: 100%;
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
}

.bd li {
  width           : 228px;
  height          : 271px;
  background-color: #fff;
  margin-bottom   : 15px;
}

/* width           : 228px;
    height          : 271px;
    background-color: #fff;
    margin-bottom   : 15px;
    transition      : .3s; */

.bd p {
  margin     : 0 20px 20px 20px;
  font-family: PingFangSC-Regular;
  font-size  : 14px;
  font-weight: normal;
  color      : #999999;
}

.bd span {
  color: #ff6400;
}

/* 课程模块结束 */


/* 前端模块开始 */
.hd ul {
  display: flex;
}

.hd li {
  display     : block;
  height      : 32px;
  margin-right: 60px;
}

.hd li a {
  font-size: 16px;
}

.hd li:nth-child(1) a {
  color: #00a4ff;
}

.hd li a:hover {
  color: #00a4ff;
}

.bd .right .top {
  height       : 100px;
  margin-bottom: 15px;
}


/* 前端模块结束 */
.footer{
  height: 273px;
  /* background-color: #000; */
}
.footer .w{
  display: flex;
  justify-content: space-between;

}
.footer h2{
  margin: 60px 0 24px;
}
.footer p{
  display: block;
  width: 432px;
  font-size: 12px;
    color: #666;
}
.footer span {
  display: block;
  width: 120px;
  height: 36px;
  line-height: 36px;
  text-align: center;
 color: #00a4ff;
 font-size: 16px;
 margin-top: 14px;
 background-color: #ffffff;
	border: solid 1px #00a4ff;
}
.footer dl{
  margin: 60px 0 62px 130px;
}
.footer dt{
  margin-bottom: 12px;
}
.footer dd a{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #666666;
}