/* 整体布局 开始 */
html, body {
    width: 100%;
    height: 100%;
}
 
#container {
    position: relative;
    width: 100%;
    min-width: 1000px;
    height:100%;
    overflow: hidden;
}

#container .header {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    background-color: #23262E;
    color: #fff;
    font-size: 25px;
}

#container .aside {
    position: absolute;
    left: 0;
    top: 80px;
    bottom: 0;
    width: 208px;
    background-color: #393D49;
}

#container .main{
    position: absolute;
    right: 0;
    top: 80px;
    bottom: 0;
    left: 208px;
    background-color: #fff;
    color: #333;
}
/* 整体布局 结束 */


/* 头部 */
.header ul {
    margin-right: 10px;
}

.header li {
    cursor: pointer;
    float: left;
    margin-right: 15px;
    padding: 0 10px;
    color: #fff;
    font-size: 16px;
}
.header li:hover {
    background-color: rgba(255, 255, 255, .3);
}
.header li .iconfont {
    margin-right: 5px;
}

/* 侧边栏 */
#container .aside div {
    text-align: center;
    margin-top: 30px;
}
#container .aside .avatar {
    width: 100px;
    border-radius: 50%;
}

#container .aside .name {
    margin-top: 20px;
    color: #fff
}

#container .aside .nav {
    margin-top: 20px;
}

#container .aside .nav li {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}
#container .aside .nav li:hover {
    background-color: rgba(0, 0, 0, .3)
}

#container .aside .nav li.active {
    background-color: rgba(0, 0, 0, .3)
}

#container .aside .nav li .iconfont {
    margin-right: 8px;
}

/* 内容区 */
.main h3 {
    font-size: 24px;
    padding-bottom: 10px;
}
/* 内容区标题设置 */
.main .title {
    padding: 20px 30px;
    background-color: #eee;
}

/* 表单显示位置 */
.main .form {
    padding: 30px 30px;
}
/* 表格显示位置 */
.main .table {
    padding: 30px 0;
    margin-left: 200px;
}

/* 按钮设置 */
.btn {
    padding: 3px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    font-size: 12px;
}

.btn-edit {
    background-color: #fff;
}

.btn-delete {
    border: 0;
    color: #fff;
    border: 1px solid #D9534F;
    background-color: #D9534F;
}

.btn-primary {
    padding: 5px 15px;
    background-color: #393D49;
    color: #fff;
    border-radius: 3px;
}

/* 表格设置 */
table,td,th {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

tr {
    height: 40px;
}

td {
    min-width: 50px;
    padding-left: 20px;
    font-size: 14px;
}

.td-center {
    width: 40px;
    padding: 0 0;
    text-align: center;
}

/* input 设置 */
.form-group {
    width: 240px;
    margin-bottom: 15px;
}

.form-group input {
    width: 240px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-control:focus {
    border-color: rgba(102, 175, 233, .8);
    box-shadow: 0 0 0 2px rgba(102, 175, 233, .4);
  }